html body {
	background-color: #edf1ff;
}

h1 {
	font-family: "Roboto";
	color: #464e6b;
}

p {
	font-family: "Roboto";
	color: #464e6b;
}

.title {
	padding-top: 1em;
}

.contacts {
	padding-top: 1em;
}

.contacts .names {
	list-style-type: none;
}

#info1 {
	display: none;
	margin-top: 1em;
}

#info2 {
	display: none;
	margin-top: 1em;
}

.newcontacts {
	padding-top: 1em;
}

#entries {
	display: none;
	padding-top: 2em;
}
